.mt-table-default {
	
}

.mt-div-default {
	overflow: hidden;
	float: left;
	width: 16px;
	height: 16px;
}

.mt-tr-default {
	
}

.mt-tr-disabled {
	color: grey;
}

.action-accept { 
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAHpSURBVHjaxJM/aBNxFMe/l4ZEadG0QmKtekWtVhRrKa5axSGI6ODSIVDsIFJp0LZCh4O8wIGbklpHB0HBxYLF4Zz8M4gcddBiTdRChFywXEgul7smeL/7/VwkUIo10ME3Pt778r68z1cSQmArFcAWKwgA6XS6pWE6+kCGhGcAFFq+oaVSqdYvoL65CLjIXDs/NgRfqHRkLt6yBTpwPwSOu4PywCnHcTB6LjEABrVpYdNleVYCl1K9u+VhuWv/nmqt6r159zYLLmidAPXMxgGoABQyklpTgeH6rp2dVw7HDvU6rsMXvy5+d1wnQ4Xki6YFimbiYEIdu3x1EEyoFM3E//QvbguExrs7ug/m83noS/qKZVlPqJB8uP6NjKuJS4kTxWIxMHJh5CQYV6nr3kRQBFI9sb19LnODq9bPH7ZtLcAXdzZywITy+OmjT+HtoV/6N71t+PTZ4/DEaHRfrL8RbITLVsmoliuv4EOh0k2+QYDsSQ2eUJ7Pzy917ojUs7VcuP/MsSE/wjsc2zarRkWHLyapeqvxVxKpMaWBceWD9n65zZdcUzJRd1zLzpU/gosJWpuy/oky+bc11HzFWFjJ1nP2au21+VnYLEnetNFyFqh9RkOFKWsvSwVhetPUPvNlM06k/57G3wMAUFvjmDPTSpoAAAAASUVORK5CYII=);
}

.action-drop { 
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGuSURBVHjaxJOxahtBEIa/S0zixGoOd3IvSJoUB8JNQI3hDAK/gHHhxq1xYadY0AgOkseQrUKVIeUVQRjS3uJGlhoXjhDBpFmDC0fWXSaFcocsmaRwkYGBZb7df2dnZj1V5Sn2jCfaUr5oNpu8FQmBCDB9kXh24zxrNBpToKqoKh0IO5Do0ZF2IOlAKCKISMF+7u8XLD9XCLQh+XV4qL16Xe8PDrQNSRvCP5782N3VXr2uo+1tbUOyIHAMYQsSt7en3WpVv+/saAuSFiSDrS3tVqtqNza0BcnxTAbPRQSAz553WTo7G/atffNufb086PdZq1TKL1dXy4OLC+7HY76dn1sFMxSJa7XaYhdGInEG5svpqc3u7rjs9bi+uuKFKm44tBmY0Vxxl+bbMgY8YHJzw+s8mGVMAP3XHJREwhSiiu8Hr9KUEhRe8f0ghag0bWdhXj6JnzwvBKL3vh/k8KtzFuCRmPmgGj/IYALRpu8H+Y1d52wKJgXTdc7m8U3fDybTgXr4hFswJ87ZZeDEOXsLJhOJM5H4MbYgsCISOzAfnbMOzMpMtf/GvP/+G38PACVbA1JqcIw4AAAAAElFTkSuQmCC);
}

.action-fasttrack {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGBSURBVHjaxNPPK0RRFAfw72XqNZnSFBERmsXIhl7JkrLRWDE7jwU2di8bGzV/gXplIUqoV5SFlCz8iJoomVeSBQtCGT9KY/x499ebxmo0447VLJzV7dPp27l1DslmsyilylBi+XKP7qWXeQDxnvs5O7/hoHGiqMdiscIJPCl1T0pzt3bMyG/8y5UvSM4x0l+vSyHM7aBh5PtwRHUlQDCGdDqDscEWXXBubvijRs5TKQ9DkaYCVwI4pWDMw8XFB0ajYV0wZq4hYnBKcX39gK2tM/R2Vv24GuC64DyDjy+GncMbDPSFdEGpyV0Xn8yDJGVInCfR1V6tC0rNohM8UQ/OO0NDaw2W7RNHMGZxSvHoq8BzIAh/cz129i8dwZhVdILzjIZQuBbri/uOoNQaDx7b3HVxp1WivK4Gp5tHP67sAacUWkDD3uyqQwixJkNXds59mh+vK4WuBEjOkZhZdggh1lTbrZ3vbwuqKwGelA6A+HRH0v61SEU9V+Tfj6nkgO8BAFKS5xpsnGR7AAAAAElFTkSuQmCC);
}

.action-passthrough {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAEHSURBVHja1NOvTgNBEAbwb2buDnIWBx5FcqLPQBANAgHvwFNsKsoTQCrB1FbX4CpJLogKAr5pQs5wt9k/xx6GVFwaVpxi5Cd+mZnMUNd1GFKMgTUYSPrBtVKXAI578fMZ8wcAKKX+Br7b9uRxMplp59CGgLIs8bRc3r4CVGTZe3QE7z1TCAjOwWiNuq6xmE5n3vvzl7o+jQPOiTDjIEmQZxmqqsL9fI6Lonh4W69vojtw1nJChFQEAHA1HkM7h8M8x2K1+ooC1hhhIiS/wK5VZlhjJA5YK7IPEIG1Ng7opkmZCCkzmAgigjQEgBm6adIo8LnZbI9Go7t9RyMi235G//8XBgM/AwCL9GJqsAbk3gAAAABJRU5ErkJggg==);
}

.action-masquerade {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACASURBVHja1JNBCgJRDENT8UBzhb/wXJOeaxa9gjd6LkZB0fGrXwQLhS6S0NA0AI3UToM1LLC/DJn5FGibqlJrTUD8xoKnhZctbIE9Lfh4iL7AA1CPfGfBnm+26JElSYDWMMFW25YkqmoFnjnAlQVn2DN2xsdXeJf8lRzE/z/TaQDuHU0+zzY12QAAAABJRU5ErkJggg==');
}

.action-nat {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACbSURBVHjaYvz//z8DJYCJgULAwsDAwNDY2Igh0dDQ8P/MmTMMJiYmDA0NDYzo8vX19VR0AbFA8ZHBfwYGBoa3X14zMDAwMJLsgvtyFxjffnnNIMwjSl4g8l2T/v9J6ykjzlhYb/LpPzGa78tdYEQxYL3Jp/8wzbgMQbcZxYDAM3yMgWf4GGFsshMSqZqpkg4oNoBxwDMTxQYABgARMjW6iaX73wAAAABJRU5ErkJggg==');
}

